%img.img-polaroid.poster
%h2.title

.name Rating
.value.rating

.name Rated
.value.rated

.name Genre
.value.genre

.name Director
.value.director

.name Released
.value.released

.name Plot
.value.plot
